body{
	background: #bdbdbb;
	margin: 0;
}
header{
	background: white;
	padding: 10px;
}
header h1{
	margin: 0;
}

div.post{
	background: white;
	
}

div.post img{
	width: 100%;
}

div.post h2{
	padding: 5px;
}
div.container{
	margin: auto;
	width: 600px;
}
ul.no-bullets {
list-style-type: none;
padding: 0; 
margin: 0;
}